<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/registationstyle.css">
    <script src="../script/registationuser.js"></script>
    <title>User registaion</title>
</head>

<body>
    <div class="registation">
        <form action="#" method="post"action="../controller/registationuserchack.php">
            <h2>User Registation</h2>
            <div class="input-style">
                <label for="ID">User id</label>
                <input type="number" name="ID" placeholder="ID" id="id" onblur="validateid()">

                <label for="username">Username</label>
                <input type="text" name="username" placeholder="username " id="username" onblur="validateName()">

                <label for="password">Password</label>
                <input type="password" name="password" placeholder="password" id="password" onblur="validatePassword()">

                <label for="email">Email</label>
                <input type="email" name="email" placeholder="email" id="email" onblur="validateEmail()">

             
                <label for="dob">Date of birth</label>
                <input type="date" name="dob" value=""id="dob" onblur="validateDob()"/>
            </div>
            <div class="gender">
                <p>Gender</p>
                <div class="option">

                    <input type="radio" name="nm" id="gm"required />
                    <label for="gm">Male</label>

                    <input type="radio" name="nm" id="gf" />
                    <label for="gf">female</label>

                    <input type="radio" name="nm" id="go" />
                    <label for="go">others</label>
                </div>

            </div>
            

            <div class="register-page">
                <input type="submit" value="Register">
                <input type="submit" id="reset" name="reset" value="Reset" onblur="resetRegistration()">
            </div>
           
            <div class="links"><a href="../view/userlogin.html">Back to userlogin page</a></div>
        </form>
    </div>

</body>

</html>