<!DOCTYPE html>
<html>

<head>

    <title>User registation</title>

</head>

<body>

    <form method="post" action="../controller/registationuserchack.php">


    <table border="1" align="center" width="50%">
        <tr align="center">
            <td colspan="2">
                <img src="../pictures/user.png" alt="Nature" width="100" height="100">
            </td>

        </tr>
      
        <tr align="center">
            <td colspan="2">
                <h1>Resister as a User</h1>
            </td>

        </tr>
        <tr>
            <td> id</td>
            <td><input type="text" name="id" value=""></td>


        </tr>
        <tr>
            <td>Username</td>
            <td rowspan="1"><input type="text" name="username" value="" placeholder="Name" /></td>
            

        </tr>
        <tr>
            <td>Password:</td>
            <td rowspan="1"> <input type="password" name="password" value="password"/> <br>
            
        </tr>
        <tr>
            <td>Email</td>
            <td rowspan="1"><input type="email" name="" value="" placeholder="Email" /></td>
            

        </tr>
       
        <tr>
            <td>Gender</td>
            <td rowspan="1"> <input type="radio" name="gender" value="" /> Male
                <input type="radio" name="gender" value="" /> Female
                <input type="radio" name="gender" value="" /> Other </td>
            
        </tr>

        </tr>
        <tr>
            <td>Date of Birth</tdd>
            <td rowspan="1"> <input type="date" name="" value="" /></td>
            
        </tr>
       
        
    
       
        <tr align="right">
            <td colspan="3">
                <input type="submit" name="submit" value="Submit">
                <input type="reset" name="" value="Reset">
            </td>

        </tr>
        <tr align="center">
        
            <td colspan="3">
                <h4><a href="../view/userlogin.html"> back to login page</a></h4>
            </td>

        </tr>


    </table>

</body>

</html>