<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/registationstyle.css">
    <script src="../script/registationseller.js"></script>
    <title>Seller registaion</title>
</head>

<body>
    <div class="registation">
        <form action="#" method="post" action="../controller/registationsellerchack.php">
            <h2>Seller Registation</h2>
            <div class="input-style">
                <label for="ID">Bloger id:</label>
                <input type="number" name="ID" placeholder="ID" id="id" onblur="validateid()">

                <label for="username">Seller name</label>
                <input type="text" name="username" placeholder="bloger name " id="username" onblur="validateName()">

                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="password" id="password" onblur="validatePassword()">

                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="email" id="email" onblur="validateEmail()">

                <label for="shopname">Shop name</label>
                <input type="text" name="shopname" placeholder="shop name " id="shopname" onblur="validateShopName()">

                <label for="Tradelicencenumber">Trade licence number:</label>
                <input type="text" name="Tradelicencenumber" placeholder="Trade licence number" id="Tradelicencenumber" onblur="validatetln()">

                <label for="dob">Date of birth:</label>
                <input type="date" name="dob" value="" id="dob" onblur="validateDob()" />
                <label for="blogertype">Shop type</label>
                <select name="blogertype" id="blogertype" class="blogertype">
                    <option value="decoration">Decoration</option>
                    <option value="bodyparts">Bodyparts</option>
                    <option value="engineparts">Engineparts</option>
                </select>

            </div>

            <div class="register-page">
                <input type="submit" value="Register">
                <input type="submit" id="reset" name="reset" value="Reset" onblur="resetRegistration()">
            </div>

            <div class="links"><a href="../view/sellerlogin.html">Back to seller login page</a></div>
        </form>
    </div>

</body>

</html>