<html>
<head>
    <title>welcome page</title>
    <link rel="stylesheet" href="../asset/">
    
</head>
<body>
    <div class="loader"></div>

    <table border="1" align="center" width="30%">
      
        <tr rowspan="2"align="center">
            <td colspan="2">
                <h3> Welcome to GT CAR ENTHUSIASIT </h3>
            </td>

        </tr>
        <tr>
            <td>
                <h1>login as:-</h1>
                <ul>
                  <li><a href="../view/userlogin.html">A User</a></li>
                  <li><a href="../view/blogerlogin.html">A Bloger</a></li>
                  <li><a href="../view/sellerlogin.html">A Seller</a></li>
                  <li><a href="../view/technicianlogin.html">A Technicians</a></li>
                </ul>  
            </td>
       


        </tr>
       
</body>
</html>